:host {
	display: block;
	font: bold 20px/1.5 Helvetica;
	margin-top: 2%;
	margin-left: 4%;
}

.node {
	&__value {
		color: red;
		cursor: pointer;
		text-decoration: underline;
	}

	&__leaf {
    color: forestgreen;
    cursor: pointer;
    text-decoration: underline;
  }

  &__root {
     color: orange;
    cursor: pointer;
    text-decoration: underline;
  }

	&__children {
		border-left: 3px solid #CCCCCC;
		margin: 5px 0px 5px 30px;
		padding-left: 10px;
	}

	&--selected {
		> .node {
			&__value {
				background-color: red;
				color: white;
				font-weight: bold;
			}
			&__leaf {
			  background-color: ForestGreen;
        color: white;
        font-weight: bold;
			}
			&__root {
        background-color: orange;
        color: white;
        font-weight: bold;
      }
		}
	}
}

.loading {
  padding: 10px;
  margin-left: 4%;
  font: bold 20px/1.5 Helvetica;
  color: #000000;
}

.modify_form {
  display: flex;
  font: bold 18px/1.5 Helvetica;
  color: white;
}

button {
  background-color: white;
  margin-right: 10px;
  margin-bottom: 20px;
  font: 17px/1.5 Helvetica;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  color: white;
}

.add_button {
  color: green;
}

.add_button:hover {
  background-color: green;
}

.delete_button {
  color: red;
}

.delete_button:hover {
  background-color: red;
}

.copy_button {
  color: blue;
}

.copy_button:hover {
  background-color: blue;
}

#value_input {
  font: 17px/1.5 Helvetica;
  padding-left: 10px;
  width: 120px;
}
