<!-- Define the recursive template. -->
<ng-template #nodeTemplateRef let-node="node">
  <div class="node" [class.node--selected]="( node === selectedTreeNode )">
    <a (click)="selectNode( node )" [ngClass]="calculateClasses( node )">
      {{ node.value }}
    </a>
    <div *ngIf="node.children.length" class="node__children">

      <ng-template ngFor let-child [ngForOf]="node.children">

        <!-- Invoke the recursive template. -->
        <ng-template
          [ngTemplateOutlet]="nodeTemplateRef"
          [ngTemplateOutletContext]="{ node: child }">
        </ng-template>
      </ng-template>
    </div>
  </div>

</ng-template>

<!--  -->
<div class="modify_form">
  <button type="button" [disabled]=isNodeSelected() class="add_button" (click)="addNode()">Dodaj węzeł</button>
  <button type="button" [disabled]=disableDeleteCopyButton() class="delete_button" (click)="deleteNode()">Usuń węzeł</button>
  <button type="button" [disabled]=disableDeleteCopyButton() class="copy_button" (click)="copyNode()">Kopiuj węzeł</button>
  <div *ngIf="!disableValueForm()">
    <span id="value_label">Zmień wartość:</span>
    <input type="number" id="value_input" name="nodeValue" [(ngModel)]="value" value="0" step="1" required>
    <button type="submit" id="submit_button" (click)="updateNode()" class="add_button">Zatwierdź</button>
  </div>
</div>

<!-- Initiate the recursive template rendering. -->
<div *ngIf="nodeList; else loading">
  <ng-template
    [ngTemplateOutlet]="nodeTemplateRef"
    [ngTemplateOutletContext]="{ node: nodeList[0] }">
  </ng-template>
</div>
<ng-template #loading>
  <div *ngIf="dataAvailable; else notAvailable" class="loading">
    Wczytywanie...
  </div>
  <ng-template #notAvailable> Dane nie dostępne.</ng-template>
</ng-template>
