<!-- Define the recursive template. -->
<ng-template #nodeTemplateRef let-node="node">
  <div class="node" [class.node--selected]="( node === selectedTreeNode )">
    <a (click)="selectNode( node )" class="node__value">
      {{ node.value }}
    </a>
    <div *ngIf="node.children.length" class="node__children">

      <ng-template ngFor let-child [ngForOf]="node.children">

        <!-- Invoke the recursive template. -->
        <ng-template
          [ngTemplateOutlet]="nodeTemplateRef"
          [ngTemplateOutletContext]="{ node: child }">
        </ng-template>
      </ng-template>
    </div>
  </div>

</ng-template>

<!--  -->
<div class="modify_form">
  <button type="button" [disabled]=isNodeSelected() id="add_button" (click)="addNode()">Dodaj węzeł</button>
  <button type="button" [disabled]=disableDeleteButton() id="delete_button" (click)="deleteNode()">Usuń węzeł</button>
  <div *ngIf="!disableValueButton()">
    <span id="value_label">Zmień wartość:</span>
    <input type="number" name="nodeValue" [(ngModel)]="selectedTreeNode.value" value="0" step="1">
  </div>
</div>

<!-- Initiate the recursive template rendering. -->
<div *ngIf="nodeList; else loading">
  <ng-template
    [ngTemplateOutlet]="nodeTemplateRef"
    [ngTemplateOutletContext]="{ node: nodeList[0] }">
  </ng-template>
</div>
<ng-template #loading>
  <div *ngIf="dataAvailable; else notAvailable" class="loading">
    Wczytywanie...
  </div>
  <ng-template #notAvailable> Dane nie dostępne.</ng-template>
</ng-template>

<div *ngIf="errorMessage" [ngClass]="'error'"> {{errorMessage}}</div>
